{{yield}}

<div data-sticky-container>
  <div data-sticky data-margin-top='0' data-top-anchor="header:bottom" data-btm-anchor="content:bottom">
    <div class="top-bar topbar-sticky-shrink">
      <div class="top-bar-title">
        <nav class="top-bar topbar-responsive">
          <div class="top-bar-title">
            <a class="topbar-responsive-logo" href="#"></a>
          </div>
          <div id="topbar-responsive" class="topbar-responsive-links">
            <div class="top-bar-left">
              {{#basic-dropdown as |dropdown|}}
                {{#dropdown.trigger }}
                  <button class="loginBtn loginBtn--google">Menu</button>
                  {{/dropdown.trigger}}
                {{#dropdown.content class="content-bootstrap-feel width-300 slide-fade"}}
                  {{#if session.isAuthenticated}}
                    <ul>
                      <li class="loginBtn loginBtn--google">
                        <button {{action 'processLogout'}}>
                          Logout
                        </button>
                      </li>
                      <li class="loginBtn loginBtn--google">
                      <button>
                          {{#link-to 'users' userHash.id}}{{/link-to}}User Profile
                        </button>
                      </li>
                      <li class="loginBtn loginBtn--google">
                        <button>
                          {{#link-to 'welcome'}}{{/link-to}}Home page
                        </button>
                      </li>
                      <li class="loginBtn loginBtn--google">
                        <button>
                          {{#link-to 'stores' 1}}{{/link-to}}Store Page
                        </button>
                      </li>
                    </ul>
                  {{else}}
                    <ul>
                      {{#link-to 'login' }}
                        <li class="loginBtn loginBtn--google">
                          <button>Login</button>
                        </li>
                      {{/link-to}}
                      {{#link-to 'register'}}
                        <li class="loginBtn loginBtn--google">
                          <button>Registration</button>
                        </li>
                      {{/link-to}}
                      <li class="loginBtn loginBtn--google">
                        <button>
                          {{#link-to 'welcome' }}{{/link-to}}Home page
                        </button>
                      </li>
                      <li class="loginBtn loginBtn--facebook">
                        <button {{action 'processLogin'}} >
                         Login with Facebook
                        </button>
                      </li>
                      <li class="loginBtn loginBtn--facebook">
                        <button {{action 'leaveFacebook'}} >
                         Logout
                        </button>
                      </li>
                     </ul>
                  {{/if}}
                {{/dropdown.content}}
              {{/basic-dropdown}}
              {{log userHash}}
              {{#if userHash.username}}
                Logged in as: {{userHash.username}}
              {{/if}}
            </div>
          </div>
          <h3 class="title1">BoBa Quest</h3>
        </nav>
      </div>
    </div>
  </div>
</div>