{{yield}}





<div data-sticky-container>
  <div data-sticky data-margin-top='0' data-top-anchor="header:bottom" data-btm-anchor="content:bottom">
    <div class="top-bar topbar-sticky-shrink">
      <div class="top-bar-title">
        <nav class="top-bar topbar-responsive">
          <div class="top-bar-title">
            <a class="topbar-responsive-logo" href="#"></a>
          </div>
          <div id="topbar-responsive" class="topbar-responsive-links">
            <div class="top-bar-left">
              {{#basic-dropdown as |dropdown|}}
                {{#dropdown.trigger}}
                  <button class="loginBtn loginBtn--google">Menu</button>
                  {{/dropdown.trigger}}
                {{#dropdown.content class="menu simple vertical medium-vertical"}}
                  {{#if session.isAuthenticated}}
                    <li>
                      <button {{action 'processLogout'}}>
                        Logout
                      </button>
                    </li>
                    <li>{{#link-to 'users' 1}}User Profile{{/link-to}}</li>
                    <li>{{#link-to 'welcome'}}Home page{{/link-to}}</li>
                    <li>{{#link-to 'stores' 1}}Store Page{{/link-to}}</li>
                    <h3> {{user.name}}</h3>
                  {{else}}
                    <li class="loginBtn loginBtn--google">{{#link-to 'login'}}Login{{/link-to}}</li>
                    <li class="loginBtn loginBtn--google">{{#link-to 'register'}}Registration{{/link-to}}</li>
                    <li class="loginBtn loginBtn--google">{{#link-to 'welcome' }}Home page{{/link-to}}</li>
                    <li>
                      <button {{action 'processLogout'}}>
                        Logout
                      </button>
                    </li>
                    <li>
                      <button {{action 'processLogin'}} class="loginBtn loginBtn--facebook">
                       Login with Facebook
                      </button>
                    </li>
                    <li>
                      <button {{action 'leaveFacebook'}} class="loginBtn loginBtn--facebook">
                       Logout
                      </button>
                    </li>
                  {{/if}}
                {{/dropdown.content}}
              {{/basic-dropdown}}
              {{log userHash}}
              {{#if userHash.username}}
                Logged in as: {{userHash.username}}
              {{/if}}

            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>