<h1 >THIS IS STORES.HBS</h1>

  <div class="LocationTransInfo">
    <h2>Store information</h2> <br />
    <p> Name: {{store.name}} </p>
    <p>Address: {{store.address}} </p>
   <p> Phone Number: {{store.phone}}</p>
    <p>Location: {{store.location}}</p>
    <br />

    <br />

    <table class="orderlist" style="overflow-x:auto;" border='1px'>
  <th> TIME </th>
  <th> USER_ID </th>
  <th> ORDER </th>
{{#each sortedOrders as |orderobj|}}
{{!--   {{#each orderobj.order as |displayorder|}} --}}
    <tr>
      <td>▶{{orderobj.created_at}} </td>
      <td> {{orderobj.user_id}} </td>
      <td> {{#each orderobj.order as |list|}}
       {{list}},
    {{/each}}
    </td>
    </tr>
  {{/each}}
  </table>


<h2> Statistics </h2>
    <table class="order-table" border='1px'>
    <th> Transactions </th>
    <tr> <p> Number of Transactions done: {{graphdata.storeTransaction}} </p> </tr>
    <tr> <p> Number of Taro BBT sold: {{graphadata.storeTaroSold}} </p> </tr>
   <tr> <p>  Number of Lyche BBT sold: {{graphdata.storeLycheSold}} </p> </tr>
    <tr> <p> Popular Drink: {{MostPopular graphdata.storeTaroSold graphdata.storeLycheSold}} </p> </tr>
    <tr> <p> Least Popular Drink: {{LeastPopular graphdata.storeTaroSold graphdata.storeLycheSold}} </p> </tr>
    </table>
  </div>

  <br />

  <div class="TotalTransInfo">
    <h2> Total Sale information </h2>

  <table class="order-table" border='1px'>
  <th> Total </th>
    <tr> <p> Total BBT sale from ALL transactions : {{graphdata.totalSale}}   </p> </tr>
   <tr> <p>  Total Taro sale from ALL tranactions : {{graphdata.totalTarosale}}  </p> </tr>
   <tr> <p>  Total Lyche sale from ALL transactions : {{graphdata.totalLychesale}} </p> </tr>
   <tr> <p>  Total Number of stores in Burnaby : {{graphdata.totalStrBurnaby}} </p> </tr>
   <tr> <p>  Total Number of stores in Richmond : {{graphdata.totalStrRichmond}} </p> </tr>
   </table>

  </div>

  <div class="Analysis">
    <h2> Analytic information </h2>

<table class="order-table" border='1px'>
<th> Market Share </th>
   <tr> <p> Market Share ( Taro BBT):{{MarketShareTaro graphdata.storeTaroSold graphdata.totalTarosale}} </p> </tr>
   <tr> <p> Market Share ( Lyche BBT):{{MarketShareLyche graphdata.storeLycheSold graphdata.totalLychesale}}</p>  </tr>
   <tr> <p> Market Share ( Total):{{MarketShareTotal graphdata.storeTransaction graphdata.totalSale}}</p>  </tr>
   <tr> <p> Market Share Advice: {{Advice graphdata.storeTransaction graphdata.totalSale graphdata.storeTaroSold graphdata.storeLychSold graphdata.totalTarosale graphdata.totalLychesale}} </p> </tr>
</table>
  

    
  </div>



{{!-- 	{{#each orderobj.user_id as |id|}}
	{{id}}
	{{/each}}

{{/each}} --}}





{{outlet}}

