
<h1>THIS IS STORES.HBS</h1>

<div> General Information </div>
  Name: {{storeparam.name}} <br />
  Address: {{storeparam.address}} <br />
  Phone Number: {{storeparam.phone}}<br />
  Location: {{storeparam.location}}<br />


<br />

<br />


<br />
  {{outlet}}



  2 types of graphs:

  Drink Analysis

  1) How many Drinks sold for the company
  2) Most Popular Drink for the company
  3) Least Popular Drink for the company


  Locational Analysis : ( Your location is LOCATION)

  1) How many bbt sold in LOCATION
  2) How many bbt you sold in LOCATION
  3) Most Popular Drink in LOCATION
  4) Market Share

  User Analysis

  1) How many users for the company
  2)