

<h2>Users n stores</h2>

THIS IS USERS.HBS


<div>

  Name: {{user.name}} <br />
  Age: {{user.age}} <br />
  Email: {{user.email}}
  Point: {{points}}
</div>

{{outlet}}

{{#if points}}
  Rewarding Badge will be rendered here. But, for our #if points, helper function is required.
{{else}}
  Not achieved badge (normal badge) will be rendered here
{{/if}}