

<h2>Users n stores</h2>

THIS IS USERS.HBS


<div>

  Name: {{user.user.name}} <br />
  Age: {{user.user.age}} <br />
  Email: {{user.user.email}}
  Point: {{points}}
<!--   {{#each user.achievements as |achievement|}}
		<img src={{ achievement }}>
	{{/each}} -->
</div>



{{outlet}}



  

