
<h2>Users n stores</h2>

THIS IS USERS.HBS


<div>

  Name: {{user.name}} <br />
  Age: {{user.age}} <br />
  Email: {{user.email}}
  Point: {{points}}
  {{user.achievements}}
</div>

<div>
	<h4>Achievements:</h4>
	{{#if isLvl1}} 
    <div>  <img src=http://www.magnateqsolutions.com/images/931level-1.png width="5%" height="5%"> First Purchase!  </div>
  {{else}}
    <h4> NONE  </h4>
	{{/if}}

	{{#if isLvl2}} 
	   <div> 	<img src=http://www.magnateqsolutions.com/images/967level-2.png width="5%" height="5%"> The Second!</div>
	{{/if}}

	{{#if isLvl3}} 
	   <div> <img src=http://firstlineresponse.co.uk/wp-content/uploads/2016/06/level-3.png width="5%" height="5%"> Third Time Charm!</div>
	{{/if}}

<!-- {{#if }}
  {{#each user.achievements as |achievement|}}
		<img src={{ achievement }}>
	{{/each}}
	{{/if}} -->
</div>

-------------------------------------------------------------------
<div> PLACE YOUR ORDER: </div>
<div> Choose a Store: </div>
<br/>

<select onchange={{action (mut currentStore) value='target.value' }} >
	<option vaue='' disabled selected hidden> ----- </option>
	{{#each store_details as |store|}}
	  <option value={{store.name}} >{{store.name}}</option>
	{{/each}}
</select>

<br/><br/>

<div>{{currentStore}}</div>

{{#if (eq currentStore 'Zeta')}}
<div class="zetamenu">

	<div value="ORDERING"> 1:  Original Milk Tea...$ 9 </div>
	<button {{action "addToCart" "Original Milk Tea"}}>Add</button>

  <div> 2:  Honey Milk Tea......$ 9 </div>
  <button {{action "addToCart" "Honey Milk Tea"}}>Add</button>

  <div> 3:  Rails Milk Tea......$ 9 </div>
  <button {{action "addToCart" "Rails Milk Tea"}}>Add</button>

  <div> 4:  Ember Milk Tea......$ 9 </div>
  <button {{action "addToCart" "Ember Milk Tea"}}>Add</button>

  <div> 5:  Apple Slush.........$ 9 </div>
  <button {{action "addToCart" "Apple Slush"}}>Add</button>

  <div> 6:  Banana Slush.......$ 9 </div>
  <button {{action "addToCart" "Banana Slush"}}>Add</button>
  
  <div> 7:  Cantalope Slush.....$ 9 </div>
  <button {{action "addToCart" "Cantalope Slush"}}>Add</button>

  <div> 8:  Durian Slush........$ 9 </div>
	<button {{action "addToCart" "Durian Slush"}}>Add</button>

  <div> 9:  Mango Slush.........$ 9 </div>
  <button {{action "addToCart" "Mango Slush"}}>Add</button>

  <div>10:  Strawberry Slush....$ 9 </div>
	<button {{action "addToCart" "Strawberry Slush"}}>Add</button>

  <div>11:  Poo Slush...........$ 9 </div>
  <button {{action "addToCart" "Poo Slush"}}>Add</button>

  <div>12:  Cookies and Cream...$ 12 </div>
  <button {{action "addToCart" "Cookies and Cream Slush"}}>Add</button>

  <div>13:  Biscuts and Butter..$ 12 </div>
  <button {{action "addToCart" "Biscuts and Butter"}}>Add</button>

  <div>14:  Salmon Slush........$ 12 </div>
  <button {{action "addToCart" "Salmon Slush"}}>Add</button>

  <div>15:  Tuna Egg Slush......$ 12 </div>
  <button {{action "addToCart" "Tuna Egg Slush"}}>Add</button>
  <button {{action "rmFromCart"}}>Empty</button>
  <button {{action "submitCart"}}>Submit</button>

  </div>
{{else if (eq currentStore 'Cha Time')}}
<div class="chatimemenu">
	<div> 1:  Original Milk Tea...$ 9 </div>
  <div> 2:  Honey Milk Tea......$ 9 </div>
  <div> 3:  Rails Milk Tea......$ 9 </div>
  <div> 4:  Ember Milk Tea......$ 9 </div>
  <div> 5:  Apple Slush.........$ 9 </div>
  <div> 6:  Bannana Slush.......$ 9 </div>
  <div> 7:  Cantalope Slush.....$ 9 </div>
  <div> 8:  Durian Slush........$ 9 </div>
  <div> 9:  Mango Slush.........$ 9 </div>
  <div>10:  Strawberry Slush....$ 9 </div>
  <div>11:  Poo Slush...........$ 9 </div>
  <div>12:  Cookies and Cream...$ 12 </div>
  <div>13:  Biscuts and Butter..$ 12 </div>
  <div>14:  Salmon Slush........$ 12 </div>
  <div>15:  Fish Roe Slush......$ 12 </div>
  <button {{action "submitCart"}}>Submit</button>
  </div>
{{/if}}

{{order}}


 

