
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<div class="userInfoTable">
  Name: {{userHash.name}} <br />
  Age: {{userHash.age}} <br />
  Email: {{userHash.email}} <br />
  Point: {{points}}
  {{user.achievements}}
</div>

<div class="achievementsBox">
	<h2 style="font-family: 'Quicksand', sans-serif;">Unlocked Achievements:</h2>
	{{#if isLvl1}}
    <div>
      <img src=https://www.btcpublic.net/img/portfolio/level-1.png width="200px" height="100px" /> ★ Welcome ★
    </div>
  {{else}}
    <h4 style="font-family: 'Quicksand', sans-serif;"> No Achievements Yet </h4>
	{{/if}}

	{{#if isLvl2}}
	   <div>
      <img src=https://d30y9cdsu7xlg0.cloudfront.net/png/81253-200.png width="200px" height="100px" /> ★ First Purchase ★
    </div>
	{{/if}}

	{{#if isLvl3}}
	   <div>
      <img src=https://d30y9cdsu7xlg0.cloudfront.net/png/56326-200.png width="200px" height="100px" /> ★ First Redeem ★
    </div>
	{{/if}}

    {{#if isLvl4}}
    <div>
      <img src=http://nextlevelfunctionalnutrition.com/wp-content/uploads/2014/10/badge_2.png width="200px" height="100px" />★ Beginner ★
    </div>
    {{/if}}
</div>
<br /><br />
<div class="orderingMenu">
<div><h3 style="font-family: 'Quicksand', sans-serif;"> Online Order: </h3></div>
<div style="font-family: 'Quicksand', sans-serif;"> Choose a Store: </div>
<br />

<select onchange={{action 'setCurrentStore' value='target.value' }} >
	<option vaue='' disabled selected hidden> ----- </option>
	{{#each store_details as |store|}}
	  <option value={{store.name}} >{{store.name}}</option>
	{{/each}}
</select>

<br/><br/>

<div>{{currentStore.name}}</div>

{{#if (eq currentStore.name 'CoCo - Pender')}}
  <div class="menu">
    <h3 style="font-family: 'Quicksand', sans-serif;"> CoCo - Downtown Menu </h3>
  	<table class="drinkmenu">
      <tr>
        <th>Item #</th>
        <th>Item Name</th>
        <th>Price</th>
        <th>Order</th>
      </tr>
      <tr>
        <td>1</td><td>Original Milk Tea</td><td>$ 9</td><td><button {{action "addToCart" "Original Milk Tea"}}>Add</button></td>
      </tr>
      <tr>
        <td>2</td><td>Honey Milk Tea</td><td>$ 9</td><td><button {{action "addToCart" "Honey Milk Tea"}}>Add</button></td>
      </tr>
      <tr>
        <td>3</td><td>Ember Milk Tea</td><td>$ 9</td><td><button {{action "addToCart" "Ember Milk Tea"}}>Add</button></td>
      </tr>
      <tr>
        <td>4</td><td>Rails Milk Tea</td><td>$ 9</td><td><button {{action "addToCart" "Rails Milk Tea"}}>Add</button></td>
      </tr>
      <tr>
        <td>5</td><td>Apple Slush</td><td>$ 9</td><td><button {{action "addToCart" "Apple Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>6</td><td>Banana Slush</td><td>$ 9</td><td><button {{action "addToCart" "Banana Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>7</td><td>Cantalope Slush</td><td>$ 9</td><td><button {{action "addToCart" "Cantalope Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>8</td><td>Durian Slush</td><td>$ 9</td><td><button {{action "addToCart" "Durian Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>9</td><td>Mango Slush</td><td>$ 9</td><td><button {{action "addToCart" "Mango Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>10</td><td>Strawberry Slush</td><td>$ 9</td><td><button {{action "addToCart" "Strawberry Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>11</td><td>Poo Slush</td><td>$ 9</td><td><button {{action "addToCart" "Mint Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>12</td><td>Cookies and Cream</td><td>$ 12</td><td><button {{action "addToCart" "Cookies and Cream"}}>Add</button></td>
      </tr>
      <tr>
        <td>13</td><td>Biscuts and Butter</td><td>$ 12</td><td><button {{action "addToCart" "Biscuts and Butter"}}>Add</button></td>
      </tr>
      <tr>
        <td>14</td><td>Salmon Slush</td><td>$ 12</td><td><button {{action "addToCart" "Salmon Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>15</td><td>Tuna Egg Slush</td><td>$ 12</td><td><button {{action "addToCart" "Tuna Egg Slush"}}>Add</button></td>
      </tr>
    </table>
    <button {{action "rmFromCart"}} class="loginBtn loginBtn--google" style="width: 14em; padding; 1em;">Empty cart</button> <br/>
    <button {{action "submitCart"}} class="loginBtn loginBtn--google" style="width: 14em; padding; 1em;">Click here to order!</button>
  </div>

{{else if (eq currentStore.name 'Cha Time - Robson')}}
<div class="menu">
	<h3> ChaTime - Downtown Menu </h3>
  <table class="drinkmenu">
      <tr>
        <th>Item #</th>
        <th>Item Name</th>
        <th>Price</th>
        <th>Order</th>
      </tr>
      <tr>
        <td>1</td><td>Original Green Milk Tea</td><td>$ 9</td><td><button {{action "addToCart" "Original Green Milk Tea"}}>Add</button></td>
      </tr>
      <tr>
        <td>2</td><td>React Green Milk Tea</td><td>$ 9</td><td><button {{action "addToCart" "React Green Milk Tea"}}>Add</button></td>
      </tr>
      <tr>
        <td>3</td><td>Java Milk Tea</td><td>$ 9</td><td><button {{action "addToCart" "Java Milk Tea"}}>Add</button></td>
      </tr>
      <tr>
        <td>4</td><td>Ember Milk Tea</td><td>$ 9</td><td><button {{action "addToCart" "Ember Milk Tea"}}>Add</button></td>
      </tr>
      <tr>
        <td>5</td><td>AJAX Milk Tea</td><td>$ 9</td><td><button {{action "addToCart" "AJAX Milk Tea"}}>Add</button></td>
      </tr>
      <tr>
        <td>6</td><td>Node.JS Slush</td><td>$ 9</td><td><button {{action "addToCart" "Node.JS Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>7</td><td>Apple Slush</td><td>$ 9</td><td><button {{action "addToCart" "Apple Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>8</td><td>NPM Slush</td><td>$ 9</td><td><button {{action "addToCart" "NPM Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>9</td><td>Mongo Slush</td><td>$ 9</td><td><button {{action "addToCart" "Mongo Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>10</td><td>PSQL Slush</td><td>$ 9</td><td><button {{action "addToCart" "PSQL Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>11</td><td>Ruby Slush</td><td>$ 9</td><td><button {{action "addToCart" "Ruby Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>12</td><td>Rails and Bacon</td><td>$ 12</td><td><button {{action "addToCart" "Rails and Bacon"}}>Add</button></td>
      </tr>
      <tr>
        <td>13</td><td>Babel Butter</td><td>$ 12</td><td><button {{action "addToCart" "Babel Butter"}}>Add</button></td>
      </tr>
      <tr>
        <td>14</td><td>RSpec Slush</td><td>$ 12</td><td><button {{action "addToCart" "RSpec Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>15</td><td>Mocha Volcano Slush</td><td>$ 12</td><td><button {{action "addToCart" "Mocha Volcano Slush"}}>Add</button></td>
      </tr>
    </table>
    <button {{action "rmFromCart"}} class="loginBtn loginBtn--google" >Empty cart</button>
    <button {{action "submitCart"}} class="loginBtn loginBtn--google">Click here to order!</button>
  </div>

  {{else if (eq currentStore.name 'Bubble World - Robson')}}
<div class="menu">
  <h3> Bubble World - Downtown Menu</h3>
  <table class="drinkmenu">
      <tr>
        <th>Item #</th>
        <th>Item Name</th>
        <th>Price</th>
        <th>Order</th>
      </tr>
      <tr>
        <td>1</td><td>Original Green Milk Tea</td><td>$ 9</td><td><button {{action "addToCart" "Original Green Milk Tea"}}>Add</button></td>
      </tr>
      <tr>
        <td>2</td><td>Honey Green Milk Tea</td><td>$ 9</td><td><button {{action "addToCart" "Honey Green Milk Tea"}}>Add</button></td>
      </tr>
      <tr>
        <td>3</td><td>Almond Milk Tea</td><td>$ 9</td><td><button {{action "addToCart" "Almond Milk Tea"}}>Add</button></td>
      </tr>
      <tr>
        <td>4</td><td>Strawberry Milk Tea</td><td>$ 9</td><td><button {{action "addToCart" "Strawberry Milk Tea"}}>Add</button></td>
      </tr>
      <tr>
        <td>5</td><td>Mango Slush</td><td>$ 9</td><td><button {{action "addToCart" "Mango Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>6</td><td>Apple Slush</td><td>$ 9</td><td><button {{action "addToCart" "Apple Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>7</td><td>Apple Slush</td><td>$ 9</td><td><button {{action "addToCart" "Apple Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>8</td><td>Grape Slush</td><td>$ 9</td><td><button {{action "addToCart" "Grape Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>9</td><td>Taro Slush</td><td>$ 9</td><td><button {{action "addToCart" "Taro Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>10</td><td>Cookies Slush</td><td>$ 9</td><td><button {{action "addToCart" "Cookies Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>11</td><td>Orange Slush</td><td>$ 9</td><td><button {{action "addToCart" "Orange Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>12</td><td>Bacon Slush</td><td>$ 12</td><td><button {{action "addToCart" "Bacon Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>13</td><td>Blueberry Slush</td><td>$ 12</td><td><button {{action "addToCart" "Blueberry Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>14</td><td>Watermelon Slush</td><td>$ 12</td><td><button {{action "addToCart" "Watermelon Slush"}}>Add</button></td>
      </tr>
      <tr>
        <td>15</td><td>Mocha Slush</td><td>$ 12</td><td><button {{action "addToCart" "Mocha Slush"}}>Add</button></td>
      </tr>
    </table>
    <button {{action "rmFromCart"}} class="loginBtn loginBtn--google" >Empty cart</button>
    <button {{action "submitCart"}} class="loginBtn loginBtn--google">Click here to order!</button>
  </div>

{{/if}}

<table border='1px'>
  {{#each order as |drink|}}
    <tr>
      <td>{{drink}}</td>
    </tr>
  {{/each}}
</table>
</div>
