

<h2>Users n stores</h2>

THIS IS USERS.HBS


<div>

  Name: {{user.name}} <br />
  Age: {{user.age}} <br />
  Email: {{user.email}}
  Point: {{points}}
</div>

{{outlet}}

{{achievements points}}
  

