
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

<title>BBT</title>

<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="title-bar hide-for-large">
        <div class="title-bar-left">
        </div>
      </div>
    </div>
  </div>
</div>

<div data-sticky-container>
  <div data-sticky data-margin-top='0' data-top-anchor="header:bottom" data-btm-anchor="content:bottom">
    <div class="top-bar topbar-sticky-shrink">
      <div class="top-bar-title">
        <nav class="top-bar topbar-responsive">
          <div class="top-bar-title">
            <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
              <button class="menu-icon" type="button" data-toggle></button>
            </span>
            <a class="topbar-responsive-logo" href="#"></a>
          </div>
          <div id="topbar-responsive" class="topbar-responsive-links">
            <div class="top-bar-right">
              <ul class="menu simple vertical medium-horizontal">
                <li><a href="#">Quest</a></li>
                <li><a href="#">Advertisement from Vendor</a></li>
                <li><a href="#">Registration / Profile</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>


<div reservation-form-container>
  <form method="POST">{{rName}}{{rPhone}}
  Reservation name:<br/>
    {{input type="rName" value=reservationName placeholder="Full name"}}<br/>
  Phone number:<br/>
    {{input type="rPhone" value=reservationPhone placeholder="Format: xxx-xxx-xxxx"}}<br/>

  Bubble Tea Cafe Reservation list:
  <select onchange={{action 'setCafe' value='target.value' }} >
    <option vaue='' disabled selected hidden> ----- </option>
    {{#each cafe as |cafe|}}
      <option value={{cafe.name}} >{{cafe.name}}</option>
    {{/each}}
  </select>

  Number of Guest :<br />
    {{input type="rGuest" value=numberGuest placeholder="Amount of people"}}

  Reservation Date:<br />
    {{input type=Date value=reservationDate placeholder="Format: MM/DD/YY"}}<br />

  Reservation Time:<br />
  <select onchange={{action 'setReservationTime' value="target.value" }} >
    {{log rTime}}
    <option value='' disabled selected hidden> ----- </option>
    {{#each reservation_time as |time|}}
      <option value={{time.name}} >{{time.name}}</option>
    {{/each}}
  </select>

  </form>
</div>

{{#each combinedString as |item|}}
  {{~ concat '+' item ~}}
{{/each}}

<h4>Confirmation:</h4>
Name:
{{reservationName}}<br />
Contact number:
{{reservationPhone}}<br />
Cafe:
{{selectedCafe}}<br />
Number of Guest:
{{numberGuest}}<br />
Reservation Date:
{{reservationDate}}<br />
Reservation Time:
{{reservationTime}}<br />

<br/>
<button {{action "sendReservation"}} type="submit" class="button button-rounded-hover">Submit</button>

<br />

{{bubbletea-map}}

<br />
<div class="row small-up-1 medium-up-1 large-up-1">
  <div class="rounded-social-buttons">
    <a class="social-button facebook" href="#"></a>
    <a class="social-button twitter" href="#"></a>
    <a class="social-button instagram" href="#"></a>
    <a class="social-button google-plus" href="#"></a>
  </div>
  <div class="column">
  </div>
</div>
<div class="container-ad">
{{ad-slider}}
</div>