<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<title>BBT</title>

<div class="welcometextbox">
  {{#if userHash}}
    <div class="questtext">
      <h2 style="font-family: 'Quicksand', sans-serif;">Welcome back {{userHash.username}}</h2>
      {{!-- <h3>Email: {{userHash.email}}</h3> --}}

      <h3 style="font-family: 'Quicksand', sans-serif;">Today's Quest</h3>
      <p> Hello {{userHash.username}}! Now that we have you logged in, lets get going!</p>
      <table border='1px'>
        <tr>
          <td>Go to CoCo and grab a Bubble GaGa</td>
          <td>50 pts</td>
        </tr>
        <tr>
          <td>Try the new Mango QQ from ChaTime!</td>
          <td>75 pts</td>
        </tr>
        <tr>
          <td>Bubble World has a student discount on Honey Milk Tea</td>
          <td>25 pts</td>
        </tr>
      </table>
    </div>
  {{else}}
    <div class="questtext" >
      <h2 style="font-family: 'Quicksand', sans-serif;">Today's Quest</h2>
      <p>  Hello stranger, why dont you log in? We have the following activities to help you on your way to diabeties!</p>
      <table border='1px'>
        <tr>
          <td>Go to CoCo and grab a Bubble GaGa</td>
          <td>50 pts</td>
        </tr>
        <tr>
          <td>Try the new Mango QQ from ChaTime!</td>
          <td>50 pts</td>
        </tr>
        <tr>
          <td>Bubble World has a student discount on Honey Milk Tea</td>
          <td>50 pts</td>
        </tr>
      </table>
    </div>
  {{/if}}
</div>


<div class="mapbox" style="background: transparent;">
  {{bubbletea-map}}
</div>

  <div style="width: 500px; margin-left: 50px; margin-top: -400px">
    {{ad-slider}}
  </div>
